@font-face {
  font-family: "MontserratThin";
  src: url("../assets/fonts/MontserratThin.ttf");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../assets/fonts/MontserratBold.ttf");
}

.page,
p,
table,
.table {
  font-family: "MontserratThin";
}

h1 {
  font-family: "MontserratBold";
}
