@font-face {
  font-family: "MontserratRegular";
  src: url("../assets/fonts/MontserratRegular.ttf");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../assets/fonts/MontserratBold.ttf");
}

.page,
p,
table,
.table {
  font-family: "MontserratRegular";
}

h1 {
  font-family: "MontserratBold";
}
